*~
*.o
.deps
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
ChangeLog
Makefile
Makefile.in
glick-helper
glick-mkbundle
glick-runner
glick-fs
glick2.conf
glick-session
glick.desktop
